@import url("//at.alicdn.com/t/font_2473563_v7g2cdsej5.css");
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .aboutBox .left-contain {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FEF7E5;
  overflow-y: hidden;
  transition: all 0.2s;
}
body .aboutBox .left-contain li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #816a02;
  text-align: center;
  color: #fff;
}
body .aboutBox .left-contain li a {
  display: block;
  width: 100%;
  height: 100%;
}
body .aboutBox .left-contain li:nth-child(n + 1) {
  border-bottom: 1px solid #FEF7E5;
}
body .aboutBox .left-contain .introduce-list li {
  border-bottom: none;
  background-color: #f40;
  transition: height 0.3s;
}
body .aboutBox .left-contain .introduce-list li:nth-child(n + 1) {
  border-bottom: 1px solid yellow;
}
body .aboutBox .left-contain .code-list li {
  border-bottom: none;
  background-color: #f40;
  transition: height 0.3s;
}
body .aboutBox .left-contain .code-list li:nth-child(n + 1) {
  border-bottom: 1px solid yellow;
}
body .aboutBox .right-contain {
  float: left;
  width: 100%;
  height: 100vh;
  padding: 10px 10px 10px 250px;
  transition: all 0.2s;
}
